<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="top">
      <h1>MVC패턴과 MYSQL 연결</h1>
      <br />
      <a href="/login">방명록 남기기</a>
    </div>
  </body>
</html>
